
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
.vscode/
.idea/
.vs/
*.swp
*.swo

**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/
**/*.csproj
**/*.sln
**/*.suo
**/*.user
**/*.userprefs
**/*.pidb
**/*.booproj
**/*.unityproj
**/*.svd
**/*.mem
**/*.mem.meta
**/MemoryCaptures/
**/AssetStoreTools*

**/Binaries/
**/DerivedDataCache/
**/Intermediate/
**/Saved/
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user
**/*.VC.db
**/*.opensdf
**/*.sdf

**/.godot/
**/.import/
**/export/
**/exports/
**/.mono/

*.log
*.tmp
*.bak
*.cache
